#sketch {
  border: 10px solid gray;
  height: 90vh;
}

#toolbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #f0f0f0;
  padding: 5px;
}

.button-pressed {
  background: #e5e5e5;
  outline: none;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
}

.cursor-eraser {
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktZXJhc2VyLWZpbGwiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTguMDg2IDIuMjA3YTIgMiAwIDAgMSAyLjgyOCAwbDMuODc5IDMuODc5YTIgMiAwIDAgMSAwIDIuODI4bC01LjUgNS41QTIgMiAwIDAgMSA3Ljg3OSAxNUg1LjEyYTIgMiAwIDAgMS0xLjQxNC0uNTg2bC0yLjUtMi41YTIgMiAwIDAgMSAwLTIuODI4bDYuODc5LTYuODc5em0uNjYgMTEuMzRMMy40NTMgOC4yNTQgMS45MTQgOS43OTNhMSAxIDAgMCAwIDAgMS40MTRsMi41IDIuNWExIDEgMCAwIDAgLjcwNy4yOTNINy44OGExIDEgMCAwIDAgLjcwNy0uMjkzbC4xNi0uMTZ6Ii8+Cjwvc3ZnPg==),
    auto;
}

.cursor-pencil {
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiBjbGFzcz0iYmkgYmktcGVuY2lsLWZpbGwiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZD0iTTEyLjg1NC4xNDZhLjUuNSAwIDAgMC0uNzA3IDBMMTAuNSAxLjc5MyAxNC4yMDcgNS41bDEuNjQ3LTEuNjQ2YS41LjUgMCAwIDAgMC0uNzA4bC0zLTN6bS42NDYgNi4wNjFMOS43OTMgMi41IDMuMjkzIDlIMy41YS41LjUgMCAwIDEgLjUuNXYuNWguNWEuNS41IDAgMCAxIC41LjV2LjVoLjVhLjUuNSAwIDAgMSAuNS41di41aC41YS41LjUgMCAwIDEgLjUuNXYuMjA3bDYuNS02LjV6bS03LjQ2OCA3LjQ2OEEuNS41IDAgMCAxIDYgMTMuNVYxM2gtLjVhLjUuNSAwIDAgMS0uNS0uNVYxMmgtLjVhLjUuNSAwIDAgMS0uNS0uNVYxMWgtLjVhLjUuNSAwIDAgMS0uNS0uNVYxMGgtLjVhLjQ5OS40OTkgMCAwIDEtLjE3NS0uMDMybC0uMTc5LjE3OGEuNS41IDAgMCAwLS4xMS4xNjhsLTIgNWEuNS41IDAgMCAwIC42NS42NWw1LTJhLjUuNSAwIDAgMCAuMTY4LS4xMWwuMTc4LS4xNzh6Ii8+Cjwvc3ZnPg==),
    auto;
}
