@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  font-family: 'Exo', sans-serif;
}

#preview {
  position: fixed;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
  height: 400px;
  width: 400px;
  bottom: 25px;
  right: 25px;
}

#preview-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196f3;
  color: #fff;
}

#video-player {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top: 25%;
}
